<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Customer Name</th>
    <th>Order Date</th>
    <th>Total Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.customerName}"></td>
    <td th:text="${order.orderDate}"></td>
    <td th:text="${order.totalPrice}"></td>
    <td><a th:href="@{/order/{orderId}(orderId=${order.id})}">Details</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>
